/*  
    Windows XP color palette!
    To make this work with the intended font, your instance admin has to follow
    the instructions here:
   
    https://gts.superseriousbusiness.org/@dumpsterqueer/statuses/01GD0JQPDNJJGKAJ0Z6Z4CKRHY 
   
    Otherwise, it will just work with the default GoToSocial font (which also
    looks great honestly).
*/

:root {
  --xp-blurple: #3833ac;
  --xp-blue: #00309c;
  --xp-dark-blue: #0336b3;
  --xp-light-blue: #5a7edc;
  --xp-lighter-blue: #91b1ee;
  --xp-lightest-blue: #c5dafc;
  --xp-orange: #f69438;
  --xp-white: #ffffff;
  --xp-green: #369836;
  --xp-light-green: #96c496;
  --xp-dark-green: #1f611f;

  --xp-blurple-gradient: linear-gradient(45deg, var(--xp-blurple), var(--xp-blue));

  --sloth_orange2: var(--xp-orange);
  --link_fg: var(--xp-lightest-blue);
}

@font-face {
  font-family: "Windows Regular";
  font-weight: 400;
  src: url(/assets/Windows-Regular.ttf) format('truetype');
}

html, body {
  font-family: "Windows Regular", "Noto Sans", sans-serif;
  font-size: large;
  scrollbar-color: var(--xp-lighter-blue) var(--xp-white);
}

/* CRT scanline effect */
.page::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 5;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.page {
  background: radial-gradient(circle closest-corner at 20% 20%, var(--xp-lighter-blue), var(--xp-light-blue));
  color: var(--xp-white);
  text-shadow: 1px 1px 1px black;
}

.button, button {
  background: var(--xp-green);
  border: 0.15rem solid var(--xp-light-green);
  color: var(--xp-white);
}

.button:hover, button:hover {
  background: var(--xp-light-green);
  border: 0.15rem solid var(--xp-white);
}

.toot, .toot.expanded {
  background: var(--xp-blurple-gradient);
  border: 0.15rem solid var(--xp-lightest-blue);
}

.profile {
  background: var(--xp-blurple-gradient);
}

.profile .basic .displayname, .profile .basic #profile-basic-filler2 {
  border-bottom: 0.15rem dotted var(--xp-orange);
}

.accountstats {
  border-top: 0.15rem solid var(--xp-lightest-blue);
}

.toot .info {
  border-top: 0.15rem solid var(--xp-lightest-blue);
}

.toot .text .content pre, .toot .text .content code {
  background-color: black;
  font-size: medium;
}
